/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header .logo {
		margin: 10px 0px 10px 0px;
	}

	.header .logo img {
		width: 400px;
	}

	.header .mail,
	.header .phones {
		margin-top: 10px;
	}

	.header .phones p a,
	.header .mail p a {
		margin-top: 0;
	}

	.header .block-main-menu .main-menu li a {
		font-size: 16px;
		padding: 15px 13.6px;
	}

	.main-index .banner .enter-shop,
	.main-in .banner .enter-shop {
		top: 35px;
	}

	.footer p::before {
		display: none;
	}

	.footer p:nth-child(2) {
		text-align: center;
	}

	.footer p .payment, .footer p a .payment {
		float: none;
		position: relative;
		top: 0;
		margin-top: 20px;
		max-width: 449px;
		width: 100%;
	}

	.footer .social-list {
		float: right;
		margin-left: 0;
	}

	.footer address,
	.footer .make-in {
		float: none;
	}

	.footer .social-list {
		margin-top: 35px;
	}

	.list-products,
	.list-products-by {
		text-align: center;
	}

	.list-products li,
	.list-products-by li {
		display: inline-block;
		float: none;
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	aside .list-products-by li {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	#review {
		overflow-x: scroll;
		padding-bottom: 20px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header .top-menu {
    	float: left;
    	width: 100%;
    }

    .header .block-main-menu .main-menu {
		display: none;
	}

	button.mob-catalog {
		background-color: #0317aa;
		background-image: -webkit-gradient(linear, left bottom, left top, from(#1134a0), to(#3da1d3));
		background-image: -webkit-linear-gradient(bottom, #1134a0 0%, #3da1d3 100%);
		background-image: -o-linear-gradient(bottom, #1134a0 0%, #3da1d3 100%);
		background-image: linear-gradient(to top, #1134a0 0%, #3da1d3 100%);
		border-radius: 3px;
		overflow: hidden;
		border: none;
		outline: none;
		width: 100%;
		display: block;
		padding: 20px 0;
		color: #fff;
		margin: 0 0 20px;
		position: relative;
		left: 0;
	}
	.header .bottom-line-header .search,
	.header .bottom-line-header .personal-area-block,
	.notmobile,
	.mob-catalog.opened span,
	.mob-catalog .opened {
		display: none;
	}
	.header .bottom-line-header .shopp-basket {
		margin: 12px 0;
	}
	.mob-catalog.opened .opened {
		display: inline;
	}
	.header .block-main-menu {
		position: relative;
	}
	.mob-search_n_log {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
	.header .mob-search_n_log .search input[type="search"] {
		width: 100%;
		height: 100%;
		padding: 4px 40px 4px 12px;
		color: #4f4f4f;
		font-size: 14px;
		font-style: italic;
		border: none;
	}
	
	.header .mob-search_n_log .search {
		position: relative;
		width: 215px;
		height: 30px;
		background-color: white;
		border: 1px solid #d2d2d2;
		border-radius: 3px;
		margin: 9px auto 0;
	}
	
	.header .mob-search_n_log .search input[type="submit"] {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 28px;
		background-color: transparent;
		border: none;
		background-image: url(../images/sprite.png);
		background-repeat: no-repeat;
		background-position: 3px 1px;
	}
	
	.header .mob-search_n_log .personal-area-block p {
		font-size: 14px;
		color: #ccc;
		font-weight: 400;
		text-align: center;
		padding: 0;
	}
	
	.header .mob-search_n_log .personal-area-block p a {
		color: #fff;
		font-weight: 700;
		margin-top: 0;
	}
	.list-text-items {
		min-height: auto;
		height: auto;
		margin-bottom: 40px;
		display: none;
	}

	.footer .list-catogories-footer {
		padding-left: 0;
		padding-right: 0;
	}

	.pad-none-left {
		padding-right: 0;
	}

	.main-akcii .col-md-6 {
		padding: 0;
	}

	.main-akcii .pad-none-right {
		padding-left: 0;
	}

	.block-main-menu .main-menu {
		text-align: center;
	}

	.block-main-menu li {
		float: none !important;
		display: inline-block;
	}

	.header .block-main-menu .main-menu li::after {
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header .logo img {
	    width: 200px;
	}

	.main-index .banner,
	.main-in .banner {
		height: 130px;
	}

	.main-index .banner img,
	.main-in .banner img {
		height: 130px;
		width: 700px;
	}

	.main-index .pad-none-right,
	.main-in .pad-none-right,
	.main-text-page .pad-none-right {
		padding: 0;
	}
}

@media only screen and (max-width : 570px) {
	.header .logo,
	.header .mail,
	.header .phones,
	.header .top-menu {
		float: none;
		text-align: center;
	}

	.header .top-menu li {
		margin-bottom: 10px;
	}

	.block-main-menu li {
		display: block;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#review {
		margin-bottom: 20px;
	}
	.header .mob-search_n_log .search {
		margin: 9px 0 0 auto;
	}
	
	.header .mob-search_n_log .personal-area-block p {
		text-align: right;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}